@import '../../../../styles/theme.scss';


.nav-list-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

th:first-child {
  position: sticky;
  left: 0;
  background: var(--background-color) !important;
  z-index: 2;
}

td:first-child {
  position: sticky;
  left: 0;
  background: var(--background-color) !important;
  z-index: 1;
}

.button {
  background-color: #1976d2 !important;
}

.button:hover {
  background-color: #1565c0 !important;
}


div[style*="justify-content:flex-end"] {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
}

table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  border: 2px solid var(--text-color);
  background-color: var(--background-color) !important;
}

.table-container {
  width: 100%;          
  overflow-x: auto;     
}

th {
  padding: 10px !important;
  text-align: center;
  border: 1px solid var(--text-color);
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--text-color);
  background: var(--background-color) !important;
}

.mat-mdc-header-cell {
  // background: var(--background-color) !important;
  color: var(--text-color) !important;
  font-weight: bold;
  border-bottom: 2px solid #818181 !important; 
  text-align: center !important;
}

td:hover {
  background-color: #7cbdef ;
  cursor: pointer;
}

.color-white,
.color-white::placeholder {
  color: var(--text-color) !important;
}

.mat-mdc-cell {
  border-bottom-color: var(--text-color) !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
  cursor: pointer;
  background-color: #80caff !important;
}

.border-field {
  --mdc-outlined-text-field-outline-color: var(--text-color) !important;
  --mdc-outlined-text-field-hover-outline-color: var(--text-color) !important;
  --mdc-outlined-text-field-focus-outline-color: var(--text-color) !important;
}


.mat-mdc-input-element {
  color: var(--text-color) !important; 
}

.input-field::placeholder {
  color: var(--text-color) !important;
}


::ng-deep .mat-mdc-option {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
.mat-mdc-select-panel {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.mat-mdc-autocomplete-panel {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.mat-column{
  width: 25% !important;
  word-break: break-word;
}

.cell-content {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin: 20px 0;
  flex-wrap: wrap; 
}


.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

//
.right-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 250px;
  align-self: flex-start;
}

.import-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
}

.import-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.import-block span {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
}

.import-title {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 4px;
  cursor: pointer;
}