.nav-header {
    // background-color: #464545;
    padding: 15px 0;
}

h2 {
    margin-left: 15px;
    // color: white
}

.nav-bar-container {
    padding-left: 15px;
    padding-right: 15px; 
    // background-color: #464545;
}
