<div class="logout-dialog-container">

        <div [innerHTML]="confirmQuestion" class="dialog-title"> </div>

    <div class="action-buttons">

      <button class="refuse-button"
      mat-raised-button
      color="primary"
      cdkFocusInitial
      (click)="dialogRef.close(false)">
      Отмена
      </button>
      
      <button class="confirm-button"
      color="primary"
      mat-raised-button
      (click)="dialogRef.close(true)">
        Да
      </button>
     
    </div>
  </div>