@use '@angular/material' as mat;
//@use 'src/app/styles/utility.scss';
// @import "../../../../styles/handbook-table.scss";
 @import '../../../../styles/table.scss';
//@use 'src/app/styles/table-head.scss';
//@use 'src/app/styles/heading.scss';

.object-table-column-name {
    padding: 6px 4px;
}

// COLUMNS
.mat-column-fullname{
    flex: 0 0 40% !important;
    width: 40% !important;
}
.mat-column-description{
    flex: 0 0 40% !important;
    width: 35% !important;
}

.mat-column-countPosts{
    width: 7% !important;
}

// responsive
table { 
    table-layout: fixed;
}
td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

@media screen and (max-width: 665px){
    table{
        overflow-x: scroll ;
        display: block;
    }
    .heading-row {
        flex-direction: column;
        align-items: center;
      }
      .heading-row button {
        width: 90%;
        max-width: 300px;
        margin-bottom: 10px;
    }
}
