<div class="handbook__container">

    <div class="handbook-header">

        <button class="button"
                mat-fab
                extended
                color="primary"
                >
            Добавить резистор

            <mat-icon>
                add
            </mat-icon>
        </button>
    </div>

    <div class="handbook-table__container">

        <table class="region-handbook-table"
                mat-table
                [dataSource]="resistorList">

            <ng-container matColumnDef="part_number">

                <th mat-header-cell *matHeaderCellDef>

                    <div class="th-container-grid">
                        <div class="th-first-grid-row">
                            <p class="th-text">Название Part number</p> 
                        </div>

                        <input class="grid-last input-field"
                                matInput
                                
                                placeholder="Поиск по номеру."
                                [matAutocomplete]="region_name_filter"
                                matAutocompletePosition="above">
                        <mat-autocomplete #region_name_filter="matAutocomplete">
                            <mat-option value=""
                                        class="reset-filter">Сбросить фильтр</mat-option>
                        </mat-autocomplete>
                    </div>
                </th>

                <td mat-cell *matCellDef="let element">
                    <div class="td-container-row table-cell-color">
                    <span>
                        {{element.part_number}}
                    </span>
                    <mat-icon queryParamsHandling="merge"
                    [matTooltip]="'Кликните, чтобы удалить запись'"
                    [matTooltipShowDelay]="100" 
                   >delete</mat-icon>  
                </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="library_ref">
                <th mat-header-cell *matHeaderCellDef>

                    <div class="th-container-grid">

                        <div class="th-first-grid-row">
                            <p class="th-text">Компонент</p>
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.library_ref}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>

            <tr mat-row
                
                *matRowDef="let row; columns: columnsToDisplay">
            </tr>
        </table>
    </div>
    <!-- <app-paginator class="paginator"
        [length]="length"
        (paginatorChanged)="onPaginatorChanged($event)">
    </app-paginator> -->
</div>