.header {
    height: 55px;
    background-color: rgb(88, 154, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
}

.action-button {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    margin: 10px;
  
    button {
        width: 100px;
        margin-right: 10px;
        background-color: #1976d2;
        .button:hover {
            background-color: #1565c0;
          }
    }
}

.name{
    display: flex; 
    align-items: center;
}

h1 {
    margin: 0;
}

.login{
    display: flex;
    justify-content: space-between;
}

.action-icon {
    display: flex; 
    align-items: center;
    margin: 10px;
}

header .action-icon button {
    background: none; 
    border: none;          
    padding: 0;            
    cursor: pointer;       
}
  
header .action-icon button:focus {
    outline: none;
}
header .action-icon mat-icon {
    background: none;
    border: none;
    // font-size: 24px; 
}

::ng-deep .mat-mdc-menu-panel,
::ng-deep .mat-menu-panel {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

::ng-deep .mat-mdc-menu-item,
::ng-deep .mat-menu-item {
  color: var(--text-color) !important;
}

::ng-deep .mat-mdc-menu-item .mat-icon,
::ng-deep .mat-menu-item .mat-icon {
  color: var(--text-color) !important;
}