<div class="container">
    <form [formGroup]="authForm">
        <h3>Авторизация</h3>
        <mat-form-field appearance="outline">
            <mat-label>Логин</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="onLogin()">Войти</button>
    </form>
</div>


<!-- <app-registration></app-registration> -->