@import '../../../styles/theme.scss';

.upload-container {
  border: 2px dashed #007bff;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  color: #007bff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

}
  
.buy-window{
  margin: 15px;
}

.nav-list-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.button-container {
  position: relative;
  height: 25px;
}

.down-button {
  position: absolute;
  bottom: 0;
  // right: 0;
  padding: 10px 20px;
  background-color: #1976d2 !important;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.down-button:hover {
  background-color: #1565c0 !important;
}

.down-button.floating {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


th:first-child {
  position: sticky;
  left: 0;
  background: var(--background-color) !important;
  z-index: 2;
}

td:first-child {
  position: sticky;
  left: 0;
  background: var(--background-color) !important;
  z-index: 1;
}

.button {
  background-color: #1976d2;
  // color: white;
  font-weight: bold;
}
.button:hover {
  background-color: #1565c0;
}

  
div[style*="justify-content:flex-end"] {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
  // color: white;
}

table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  border: 2px solid var(--text-color);
  background-color: var(--background-color) !important;
}
table.mat-elevation-z8 {
  box-shadow: none !important;
  border-bottom: 2px solid var(--text-color) !important;
}

.table-container {
  width: 100%;          
  overflow-x: auto;     
}
  
th {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--text-color);
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--text-color);
  background: var(--background-color) !important;
}

.mat-mdc-header-cell {
  color: var(--text-color) !important;
  font-weight: bold;
  text-align: center !important;
  border-bottom: 2px solid #818181 !important; 
}
.mat-mdc-cell {
  border-bottom-color: var(--text-color) !important;
}
 
.input-field::placeholder {
    color: rgb(222, 221, 221) !important; 
}
  
.mat-column{
    width: 25% !important;
    word-break: break-word;
}
  
.cell-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}

.summary{
  padding-bottom: 5px;
}




