<div class="buy-window">

  <div class="upload-container" *ngIf="!archiveName"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      (click)="fileInput.click()">
    <input #fileInput type="file" accept=".zip" (change)="onFileSelected($event)" hidden>
    <p>Перенесите архив или нажмите здесь для выбора файла с расширением .zip</p>
  </div>

  <div class="button-container">
    <button mat-raised-button
      *ngIf="(originalZip) && (isRole === 'admin' || isRole === 'moderator' || isRole === 'buyer')"
      class="down-button"
      [class.floating]="isFloating"
      (click)="onDownloadArchives()"
    >
      Скачать производственные материалы 
    </button>
  </div>
  
  <div *ngIf="tableHeaders.length && tableData.length">
    <div *ngFor="let group of groupedTableData | keyvalue">
      <h3>MarketURL: {{ group.key }}</h3>
      <p><strong>Общая сумма Price:</strong> {{ groupTotals[group.key] }}</p>
      <table mat-table [dataSource]="group.value" class="mat-elevation-z8">
        <ng-container *ngFor="let column of tableHeaders" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef><span>{{ column }}</span></th>
          <td mat-cell *matCellDef="let element"> 
            <div class="cell-content">
              <span>{{ element[column] }} </span>
            </div>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
      </table>
      <br>
    </div>

    <div class="summary">
      <h3>Сводная информация по магазинам</h3>
      <p><strong>Общая сумма по всем магазинам: </strong>{{ overallTotal }}</p>
      <table mat-table [dataSource]="groupedTableData | keyvalue" class="mat-elevation-z8">
        <ng-container matColumnDef="market">
          <th mat-header-cell *matHeaderCellDef> <span>MarketURL </span></th>
          <td mat-cell *matCellDef="let item"> 
            <div class="cell-content">
              <span>{{ item.key }} </span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef><span> Сумма Price</span></th>
          <td mat-cell *matCellDef="let item"> 
            <div class="cell-content">
              <span>{{ groupTotals[item.key] }}</span>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['market', 'total']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['market', 'total'];"></tr>
      </table>
    </div>
  </div>
  <app-archives-table *ngIf="!archiveName"></app-archives-table>
</div>

