<div mat-dialog-content>

    <h2>Транзистор</h2>
    <form [formGroup]="transistorForm">
        <mat-form-field appearance="outline">
            <mat-label>Part Number</mat-label>
            <input
                matInput
                formControlName="part_number"
                required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Library Path</mat-label>
            <input
                matInput
                formControlName="library_path"
                required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Library Ref</mat-label>
            <input
                matInput
                formControlName="library_ref"
                required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Footprint Path</mat-label>
            <input
                matInput
                formControlName="footprint_path"
                required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Footprint Ref</mat-label>
            <input
                matInput
                formControlName="footprint_ref"
                required>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <div class="action-buttons">
        
    <button 
        type="submit" 
        mat-button 
        mat-raised-button 
        [mat-dialog-close]="false"
        color="primary">Отмена</button>

        <button
        [disabled]="!transistorForm.valid"
        type="submit"
        mat-button
        mat-raised-button
        (click)="this.onTransistorFormClose()"
        color="primary">Сохранить</button>
    </div>
</div>