<div class="registration-container">
    <form [formGroup]="registrationForm">
      <h3 class="registration-title" *ngIf="!this?.data">Регистрация</h3>
      <h3 class="registration-title"  *ngIf="this?.data">Пользователь:</h3>
  
      <div class="form-field">
        <mat-form-field appearance="outline" class="border-field" floatLabel="always">
          <mat-label>Логин</mat-label>
          <input matInput formControlName="username" required placeholder="Имя аккаунта">
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="outline" class="border-field" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required placeholder="Почта">
        </mat-form-field>
      </div>
  
      <div class="form-field">
        <mat-form-field appearance="outline" class="border-field" floatLabel="always">
          <mat-label>Пароль</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required placeholder="Пароль">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="outline" class="border-field" floatLabel="always">
            <mat-label>Повторите пароль</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required placeholder="Повторите пароль">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
              <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="outline" class="border-field">
          <mat-label>Роль</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value"> {{ role.viewValue }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="button-group">
        <button mat-raised-button color="primary" type="button" (click)="onExit()">Выйти</button>
        <button mat-raised-button color="primary" type="submit" (click)="onCreateAccount()" [disabled]="registrationForm.invalid">Сохранить</button>
      </div>
    </form>
  </div>
  