::ng-deep .mat-mdc-paginator {
    background: var(--background-color) !important;
}

::ng-deep .mat-mdc-paginator .mat-mdc-paginator-range-label {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-paginator-navigation-next svg,
::ng-deep .mat-mdc-paginator-navigation-previous svg,
::ng-deep .mat-mdc-paginator-navigation-first svg,
::ng-deep .mat-mdc-paginator-navigation-last svg {
    fill: var(--text-color) !important;
}

::ng-deep .mat-mdc-paginator-page-size-select {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-select-value {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-select .mat-mdc-select-arrow {
    color: var(--text-color);
}